<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Chinese</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body id="top">
            
			<section id="ni">
					<div class="in">
						<header>
						    <h1>MENU</h1>
							<p>Lets search what you are craving for! --!-- !Scroll down!</p>
						</header>
					</div>
				</section>

                 <div class="b2">
					<a href="/login" class="button fit">LOGOUT</a>
				</div>
				<div class="b2">
					<a href="/index" class="button fit">HOME</a>
				</div>
				
			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box">
								<a href="" class="image fit"><img src="images/nood.jpg" alt="" /></a>
								<div class="inner">
									<h3>Veg Schezwan Noodles</h3>
									<p>Rs 70/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=VegSchezwanNoodles" class="button fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/gm.jpg" alt="" /></a>
								<div class="inner">
									<h3>Gobi Manchurian</h3>
									<p>Rs 60/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=GobiManchurian" class="button style2 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/ba.jpg" alt="" /></a>
								<div class="inner">
									<h3>BabyCorn Manchurian</h3>
									<p>Rs 80/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=BabyCornManchurian" class="button style3 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href=" " class="image fit"><img src="images/so.jpg" alt="" /></a>
								<div class="inner">
									<h3>Hot&Sour Soup</h3>
									<p>Rs 50/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=Hot&SourSoup" class="button style2 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/bf.jpg" alt="" /></a>
								<div class="inner">
									<h3>Chinese Banana Fritters</h3>
									<p>Rs 40/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=ChineseBananaFritters" class="button style3 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/tof.jpg" alt="" /></a>
								<div class="inner">
									<h3>Tofu with Garlic Sauces</h3>
									<p>Rs 100/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=TofuwithGarlicSauces" class="button fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/spt.jpg" alt="" /></a>
								<div class="inner">
									<h3>Salt & Pepper Tofu</h3>
									<p>Rs 100/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=Salt&PepperTofu" class="button style3 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/sal.jpg" alt="" /></a>
								<div class="inner">
									<h3>Vegan Chinese Salad</h3>
									<p>Rs 80/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=VeganChineseSalad" class="button style3 fit">ADD TO CART</a>
								</div>
							</div>
 							
 							<div class="box">
								<a href="" class="image fit"><img src="images/cfr.jpg" alt="" /></a>
								<div class="inner">
									<h3>Chinese Fried Rice</h3>
									<p>Rs 90/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=ChineseFriedRice" class="button style3 fit">ADD TO CART</a>
								</div>
							</div>


							 <div class="box">
									<a href="/si" class="button fit">SOUTH INDIAN</a>
							</div>

							<div class="box">
									<a href="/combo" class="button style2 fit">COMBOS</a>
							</div>
							
							<div class="box">
									<a href="/ni" class="button style3 fit">NORTH INDIAN</a>
							</div>
							
							<div class="box">
									<a href="/desert" class="button style2 fit">DESERT</a>	
							</div>
							
							<div class="box">
									<a href="/snacks" class="button fit">SNACKS</a>
							</div>

						</div>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Mouth-watering | Lip-smacking | Finger-licking</h2>
						<p>Contact- 9800230989,6320043000<br>mycant@gmail.com</p>

						<!--<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>-->
						<p class="copyright"> © 2019&nbsp; All Rights Reserved.<br><br>
            This is the Portal of MyCant, developed with an objective to enable a 
            single window access to the services being provided by the 
            various MyCant. The content in this Portal is the result of a 
            collaborative effort of ,students from CSE Department,SJBIT,BENGALURU .</p>
					</div>
				</footer>

		<!-- Scripts 
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>-->

	</body>
</html>