<!DOCTYPE HTML>

<html>
	<head>
		<title>Desert</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body id="top">



			<section id="ni">
					<div class="in">
						<header>
						    <h1>MENU</h1>
							<p>Lets search what you are craving for! --!-- !Scroll down!</p>
						</header>
					</div>
				</section>

				<div class="b2">
					<a href="/login" class="button fit">LOGOUT</a>
				</div>
				<div class="b2">
					<a href="/index" class="button fit">HOME</a>
				</div>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box">
								<a href="" class="image fit"><img src="images/gul1.jpg" alt="" /></a>
								<div class="inner">
									<h3>GulabJamun</h3>
									<p>Rs 40/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=GulabJamun" class="button fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/gaj1.jpg" alt="" /></a>
								<div class="inner">
									<h3>Gajar Halwa</h3>
									<p>Rs 40/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=GajarHalwa" class="button style2 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/ras.jpg" alt="" /></a>
								<div class="inner">
									<h3>Rasmalai</h3>
									<p>Rs 30/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=Rasmalai" class="button style3 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href=" " class="image fit"><img src="images/blf1.jpg" alt="" /></a>
								<div class="inner">
									<h3>BlackForest</h3>
									<p>Rs 40/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=BlackForest" class="button style2 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/ls1.jpg" alt="" /></a>
								<div class="inner">
									<h3>Lime-Soda</h3>
									<p>Rs 30/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=LimeSoda" class="button style3 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/dry1.jpg" alt="" /></a>
								<div class="inner">
									<h3>Dry_fruit Lassi</h3>
									<p>Rs 50/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=DryFruitLassi" class="button fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/cc1.jpg" alt="" /></a>
								<div class="inner">
									<h3>Cold Coffee</h3>
									<p>Rs 50/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=ColdCoffee" class="button fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/cof.jpg" alt="" /></a>
								<div class="inner">
									<h3>Coffee</h3>
									<p>Rs 15/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=Coffee" class="button fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/oreo1.jpg" alt="" /></a>
								<div class="inner">
									<h3>Oreo Milkshake</h3>
									<p>Rs 40/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=OreoMilkshake" class="button fit">ADD TO CART</a>
								</div>
							</div>

                             <div class="box">
									<a href="/si" class="button fit">SOUTH INDIAN</a>
							</div>

							<div class="box">
									<a href="/combo" class="button style2 fit">COMBOS</a>
							</div>
							
							<div class="box">
									<a href="/chinese" class="button style3 fit">CHINESE</a>
							</div>
							
							<div class="box">
									<a href="/ni" class="button style2 fit">NORTH INDIAN</a>	
							</div>
							
							<div class="box">
									<a href="/snacks" class="button fit">SNACKS</a>
							</div>
						</div>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Mouth-watering | Lip-smacking | Finger-licking</h2>
						<p>Contact- 9800230989,6320043000<br>mycant@gmail.com</p>

					
						<p class="copyright"> © 2019&nbsp; All Rights Reserved.<br><br>
            This is the Portal of MyCant, developed with an objective to enable a 
            single window access to the services being provided by the 
            various MyCant. The content in this Portal is the result of a 
            collaborative effort of ,students from CSE Department,SJBIT,BENGALURU .</p>
					</div>
				</footer>


	</body>
</html>