<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body id="top">
            
			
				<section id="banner" data-video="images/banner">
					<div class="inner">
						<header>
						    <h1>Welcome <%=name%>!</h1>
							<p>Lets search what you are craving for!</br>Scroll down!</p>
						</header>
						<a href="#main" class="more">Learn More</a>
					</div>
				</section>
               
                <div class="b2">
					<a href="/" class="button fit">LOGOUT</a>
				</div>
				<div class="b2">
					<a href="/cart" class="button fit">CART</a>
				</div><br><br>
		
               </div>
			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">

							<div class="box">
								<a href="" class="image fit"><img src="images/1.jpg" alt="" /></a>
								<div class="inner">
									<h3>North Indian</h3>
									<p>Variety of authentic North Indian  Chole Bhature, Rajma Chaval, Pav Bhaji</p>
									<a href="/ni" class="button fit">MENU</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/2.jpg" alt="" /></a>
								<div class="inner">
									<h3>South Indian</h3>
									<p>Authentic mouth watering , finger-licking flavours of South India , you don't wanna miss</p>
									<a href="/si" class="button style2 fit">MENU</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/3.jpg" alt="" /></a>
								<div class="inner">
									<h3>Chinese</h3>
									<p>Your fortune for better health eat more lip-smacking chinese food &  feel hungry an hour later.</p>
									<a href="/chinese" class="button style3 fit">MENU</a>
								</div>
							</div>

							<div class="box">
								<a href=" " class="image fit"><img src="images/4.jpg" alt="" /></a>
								<div class="inner">
									<h3>Snacks</h3>
									<p>Choose from the great variety of different snacks.<br>Samosa , momos , burgers and many more.</p>
									<a href="/snacks" class="button style2 fit">MENU</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/5.jpg" alt="" /></a>
								<div class="inner">
									<h3>Combo</h3>
									<p>| Light on pocket | Great for your stomach |<br>Choose from the various meal combos available.</p>
									<a href="/combo" class="button style3 fit">MENU</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/6.jpg" alt="" /></a>
								<div class="inner">
									<h3>Deserts & Drinks</h3>
									<p>| Sweets |<br>| Coffee |<br>| MilkShakes|</p>
									<a href="/desert" class="button fit">MENU</a>
								</div>
							</div>
							

						</div>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Mouth-watering | Lip-smacking | Finger-licking</h2>
						<p>Contact- 9800230989,6320043000<br>mycant@gmail.com</p>

						
						
					</div>
				</footer>


	</body>
</html>