<!DOCTYPE HTML>

<html>
	<head>
		<title>Radius by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="asset/css/firstPage.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<div class="content">
						<h1>MyCant</h1>
						<h3>| Mouth-watering | Lip-smacking |<br>| Finger-licking |</h3>
						<h2>Your food is being prepared!!</h2>
						<h1>Thank you!<br>Visit Again!</h1>
						<a href="/" class="button big alt"><span>Log Out</span></a><br><br>
						
					</div>
					<a href="#" class="button hidden"><span>Let's Order your food</span></a>
				</div>
			</header>

		<!-- Main -->
			<div id="main">
				<div class="inner">
					<div class="columns">

						<!-- Column 1 (horizontal, vertical, horizontal, vertical) -->
							<div class="image fit">
								<a href="detail1.html"><img src="images/1.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/2.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/3.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/4.jpg" alt="" /></a>
							</div> -->

						
							<div class="image fit">
								<a href="detail1.html"><img src="images/9.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/10.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/11.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/12.jpg" alt="" /></a>
							</div>

						<!-- Column 4 (vertical, horizontal, vertical, horizontal) -->
							<div class="image fit">
								<a href="detail1.html"><img src="images/13.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/14.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/15.jpg" alt="" /></a>
							</div>
							<div class="image fit">
								<a href="detail1.html"><img src="images/16.jpg" alt="" /></a>
							</div>

					</div>
				</div>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<a href="#" class="info fa fa-info-circle"><span>About</span></a>
				<div class="inner">
					<div class="content">
						
					</div>
					<div class="copyright">
						
					</div>
				</div>
			</footer>

	</body>
</html>