<!DOCTYPE HTML>

<html>
	<head>
		<title>North Indian</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body id="top">
				

			<section id="ni">
					<div class="in">
						<header>
						    <h1>MENU</h1>
							<p>Lets search what you are craving for! --!-- !Scroll down!</p>
						</header>
					</div>
				</section>

				<div class="b2">
					<a href="/si" class="button fit">LOGOUT</a>
				</div>
				<div class="b2">
					<a href="/index" class="button fit">HOME</a>
				</div>

			<!-- Main -->
				<div id="main">
					<div class="inner">

					<!-- Boxes -->
						<div class="thumbnails">
                        <!-- <form method="POST" action="/add_cart?q='chole'"> -->
							<div class="box">
								<a href="" class="image fit"><img src="images/chole.jpeg" alt="" /></a>
								<div class="inner">
									<h3>Chole Bhature</h3>
									<p>Rs 50/-<br>This NorthIndian delicacy is ideal for breakfast.<br>
									<!-- Select Quantity 
										<select name="value" type="submit">
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select><br> -->
									<!-- <button type="submit"></button> -->
									<a href="/add_cart?item=CholeBhature" class="button fit">ADD TO CART</a>
								<!-- </button> -->
								</div>
							</div>
							<!-- </form> -->

							<div class="box">
								<a href="" class="image fit"><img src="images/bc.jpg" alt="" /></a>
								<div class="inner">
									<h3>Butter Chicken Thali</h3>
									<p>Rs 100/-<br>Tandoori roti with butter chicken & salad<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> -->
									</p>
									<a href="/add_cart?item=ButterChickenThali" class="button style2 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/cb.jpg" alt="" /></a>
								<div class="inner">
									<h3>Chicken biryani</h3>
									<p>Rs 100/-<br>The best biryani in town<br>enjoy with the special gravy<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=ChickenBiryani" class="button style3 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href=" " class="image fit"><img src="images/raj.jpg" alt="" /></a>
								<div class="inner">
									<h3>Rajasthani Thali</h3>
									<p>Rs 80/-<br>Straight outta Rajasthan..<br>Enjoy the flavours of Rajasthan<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=RajasthaniThali" class="button style2 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/ap.jpg" alt="" /></a>
								<div class="inner">
									<h3>Aloo Paratha</h3>
									<p>Rs 60/-<br>Staple North Indian cuisine...you never wanna miss!! <br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=AlooParatha" class="button style3 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/rc.jpg" alt="" /></a>
								<div class="inner">
									<h3>Rajma Chaval</h3>
									<p>Rs 80/-<br>Staple North Indian cuisine...you never wanna miss!!<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=RajmaChaval" class="button fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/lit.jpg" alt="" /></a>
								<div class="inner">
									<h3>litti chokha</h3>
									<p>Rs 50/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> -->
									</p>
									<a href="/add_cart?item=LittiChokha" class="button style3 fit">ADD TO CART</a>
								</div>
							</div>

							<div class="box">
								<a href="" class="image fit"><img src="images/pan.jpg" alt="" /></a>
								<div class="inner">
									<h3>Spl Paneer thali</h3>
									<p>>Rs 90/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=SplPaneerThali" class="button style3 fit">ADD TO CART</a>
								</div>
							</div>
 							
 							<div class="box">
								<a href="" class="image fit"><img src="images/pav.jpg" alt="" /></a>
								<div class="inner">
									<h3>Pav Bhaji</h3>
									<p>>Rs 50/-<br>Select Quantity 
										<!-- <select>
  											<option value="one">1</option>
 											<option value="two">2</option>
  											<option value="three">3</option>
  											<option value="four">4</option>
  											<option value="five">5</option>
										</select> --></p>
									<a href="/add_cart?item=PavBhaji" class="button style3 fit">ADD TO CART</a>
								</div>
							</div>

                            <div class="box">
									<a href="/si" class="button fit">SOUTH INDIAN</a>
							</div>

							<div class="box">
									<a href="/combo" class="button style2 fit">COMBOS</a>
							</div>
							
							<div class="box">
									<a href="/chinese" class="button style3 fit">CHINESE</a>
							</div>
							
							<div class="box">
									<a href="/desert" class="button style2 fit">DESERT</a>	
							</div>
							
							<div class="box">
									<a href="/snacks" class="button fit">SNACKS</a>
							</div>

						</div>

					</div>
				</div>

			<!-- Footer -->
				<footer id="footer">
					<div class="inner">
						<h2>Mouth-watering | Lip-smacking | Finger-licking</h2>
						<p>Contact- 9800230989,6320043000<br>mycant@gmail.com</p>

						
						<p class="copyright"> © 2019&nbsp; All Rights Reserved.<br><br>
            This is the Portal of MyCant, developed with an objective to enable a 
            single window access to the services being provided by the 
            various MyCant. The content in this Portal is the result of a 
            collaborative effort of ,students from CSE Department,SJBIT,BENGALURU .</p>
					</div>
				</footer>


	</body>
</html>